body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a {
    color: #5207C5;
}

a:focus, a:hover {
    color: #3e077a;
}

.footer {
    color: white;
}

.footer a {
    color: #06C7CA;
}

.custom-navbar {
    background: #5207C5;
    text-transform: uppercase;
    font-weight: bold;
}

.custom-navbar .navbar-nav li a {
    color: #06C7CA;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #06989b;
}

.header {
    text-align: center;
    background: #06C7CA;
    padding-bottom: 40px;
    padding-top: 60px;
}

.header .avatar {
    padding: 20px;
    margin: 0 auto;
}

.header .alias {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 36px;
}

.header .name {
    margin-top: 0;
    font-size: 30px;
}

.header .shortBio {
    font-size: 18px;
}

section {
    padding-top: 10px;
    padding-bottom: 30px;
}

.section-header {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.project-tile {
    height: 260px;
    padding: 20px;

    margin: 0 0 15px;
    right: 0;
}

.project-tile-inner {
    margin: 0 auto;
    max-width: 400px;
    min-width: 250px;
}

.project-tile .hovereffect {
    max-width: 360px;
}

.hovereffect.hover-blue .overlay {
    background: #06C7CA;
}

.hovereffect.hover-blue p.icon-links a {
    color: #5207C5;
}

.hovereffect.hover-blue p.icon-links a:hover {
    color: #3e077a;
}

.hovereffect.hover-purple .overlay {
    background: #5207C5;
}

.hovereffect.hover-purple p.icon-links a {
    color: #06C7CA;
}

.hovereffect.hover-purple p.icon-links a:hover {
    color: #06989b;
}

.project-tile .project-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    z-index: -1;
}

.project-overlay {
}

.project-overlay .project-overlay-link {
    font-size: 64px;
}

@media (min-width: 767px) {
    .project-tile {
        margin: 0 0 30px;
    }

    .project-overlay {
        margin: 0 0 30px;
    }
}

.aboutText {

}

.aboutIntro {
    font-size: 18px;
}

.footer {
    text-align: center;
    background: #5207C5;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 20px;

    line-height: 55px;
}

.social-button {
    color: #06C7CA;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 55px;
    margin-left: 5px;
    margin-right: 5px;
}

.br-12 {
    display: block;
    margin: -12px 0;
}

.br8 {
    display: block;
    margin: 8px 0;
}

.br8 {
    display: block;
    margin: 4px 0;
}

.hide-async-css {
    display: none;
}